.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*min-height: 85vh;*/
}
.LoadingOverlay {
    position:fixed;
    display:block;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 500000 !important;
    background-color: rgba(255, 255, 255, 0.2);

}



.LoadingContainer .indeterminate {
    /*background-color: var(--bs-dark);*/
    background-color: red;
}

.LoadingContainer {
        z-index: -100 !important;
        height: 100%;
        content: "";
        position: fixed;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        -webkit-animation-delay: 1.15s;
        animation-delay: 1.15s;
 }



.imageContainer{
    position: fixed;
    height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100 !important;
    transform: translate(-50%, -50%);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;

}



.LoaderIMG{
    height: 300px;
    width: 300px;
    position: fixed;
}



.displayNone{
    display: none !important;
}








